/* Add this CSS either to a CSS module, a stylesheet, or inline styles with a styled component */

.profile-item {
    position: relative;
}

.profile-item .profile-options-wrapper {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
}

.profile-item:hover .profile-options-wrapper {
    display: block;
}